[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EstimateBreed"]
	path = EstimateBreed
	url = https://github.com/willyanjnr/estimatebreed
